@use 'mixins' as m;
@use 'variables' as v;

.feature{
    background-color: v.$grayishBlue;

    &__content{
        text-align: center;

        @include m.breakpoint-up(medium){
            text-align: left;
        }
    }
  

    &__intro{
        @include m.breakpoint-up(large){
            width: 60%;
            margin-bottom: 3.75rem;
        }
    }

    &__grid{
        @include m.breakpoint-up(medium){
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item{
        padding: 0.9375rem;
        @include m.breakpoint-up(medium){
            flex: 0 0 50%;
        }
        @include m.breakpoint-up(large){
            flex:1;
        }
      }

      &__icon{
        margin-bottom: 1.875rem;

        @include m.breakpoint-up(large){
        margin-bottom: 2.75rem;
        }
      }

      &__title{
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.15;
        color: v.$darkBlue;
        margin-bottom: 1rem;

        @include m.breakpoint-up(large){
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }

      }

      &__description{
        font-size: v.$font-sm;
        line-height: 1.5;
      }
      
}