@use "variables" as v;
@use "mixins" as m;

.footer {
    background-color: v.$darkBlue;
    color: v.$white;
    padding: 2.5rem;
    text-align: center;

    .container{
        @include m.breakpoint-up(large){
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 3fr;
            grid-template-rows: 1fr auto;
            grid-template-areas: 
            "logo links1 links2 cta"
            "social links1 links2 copyright"
            ;
            gap: 1rem;
            justify-items: start;
        }
    }
        
    a {
        color: v.$white;
    }

    &__logo {
        display: inline-block;

        @include m.breakpoint-down(medium){
            margin-bottom: 1.875rem;
        }
       
        @include m.breakpoint-up(large){
            grid-area: logo;
        }
    }

    &__social {
        @include m.breakpoint-down(medium){
            margin-bottom: 1.875rem;
        }
        @include m.breakpoint-up(large){
            grid-area: social;
            align-self: end;
        }

        a{
            display: inline-block;
            height: 1.25rem;

            svg path{
                transition: fill 150ms ease-in-out;
            }

            &:hover svg path{
                fill: v.$limeGreen;
            }
        }
        :not(:last-child){
            margin-right: 1rem;
        }
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.9375rem;
      

        @include m.breakpoint-up(large){
            align-items: start;
            justify-content: space-between;
        }

        &.col1 {
            @include m.breakpoint-up(large){
                grid-area: links1;
            }

        }

        &.col2 {
            @include m.breakpoint-down(medium){
                margin-bottom: 1.875rem;
            }
            @include m.breakpoint-up(large){
                grid-area: links2;
            }
        }

        a{
            line-height: 2.25;
            transition: color 150ms ease-in-out;
            
            &:hover{
                 color: v.$limeGreen;
             }
            
        }

    }

    &__cta {

        @include m.breakpoint-up(large){
            grid-area: cta;
            text-align: right;
            justify-self: end;
        }
        a.button {
            @include m.breakpoint-down(medium){
                margin-bottom: 1.875rem;
            }
        }
    } 
    &__copyright {
        font-size: 0.9375rem;
        color: v.$grayishBlue;
        @include m.breakpoint-up(large){
            grid-area :copyright;
            justify-self: end;
            align-self: end;
        }
    }
}